<!DOCTYPE html>
<html ng-controller="mainCtrl">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/account.css">

    <%- include scripts.ejs %>

    <script>
        (function (window, _) {
            var menuStr = '<%- JSON.stringify(menuObj) %>';
            window.fakeData = {};
            try {
                _.extend(window.fakeData, {
                    items: JSON.parse(menuStr)
                });
            }
            catch (error) {
                console.log(error)
            }
        }(window, _))
    </script>

    <script type="text/javascript" src="/accountApp/module.js"></script>
    <script type="text/javascript" src="/accountApp/bootstrap.js"></script>
</head>

<body ng-class="{}"
      class=""
      ng-init="uiState.switch({});">

<nav role="navigation"
     ng-class="{
     'content-expanded':uiState.get('isMenu') || uiState.get('isSearch'),
     'sticky-scroll-container':uiState.get('isMenu') || isSearch,
     'is-extended':uiState.get('isNavbarExtended'),
     'is-full-screen':uiState.get('isFullScreen'),
     'is-at-top':uiState.get('isAtTop')
     }"
     class="navbar navbar-inverse top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-brand"><img class="height-100" src="img/logo-white.svg" /></div>
            <button type="button" class="navbar-toggle"><i class="fa fa-bars"></i></button>
        </div>
    </div>
</nav>

<content>
    <div class="section section-info-row">
        <div class="container container-info-row">
            <div class="row row-centered row-margined-top">
                <div class="col-sm-12"><h1 class="info-row-title" fill-with-lorem-ipsum="15"></h1></div>
            </div>
            <div class="row row-centered row-margined-bottom">
                <div class="col-sm-8 col-sm-offset-2">
                    <h4 class="info-row-desc" fill-with-lorem-ipsum="165"></h4>
                </div>
            </div>
            <div class="row row-centered">
                <p class="info-row-text" fill-with-lorem-ipsum="323"></p>
            </div>
        </div>
    </div>
    <div class="section section-info-row">
        <div class="container container-info-row container-what-we-do">
            <div class="row row-centered row-margined-top">
                <div class="col-sm-12"><h1 class="info-row-title">What We Do</h1></div>
            </div>
            <div class="row row-centered row-margined-bottom">
                <div class="hidden-xs col-sm-8 col-sm-offset-2">
                    <h4 class="info-row-desc" fill-with-lorem-ipsum="165"></h4>
                </div>
            </div>
            <div class="row row-centered row-margined-bottom">
                <div class="col-sm-4">
                    <div class="what-we-do-icon">
                        <i class="fa fa-info"></i>
                    </div>
                    <div>
                        <h1 class="title" fill-with-lorem-ipsum="15"></h1>
                        <p fill-with-lorem-ipsum="201"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="what-we-do-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div>
                        <h1 class="title" fill-with-lorem-ipsum="11"></h1>
                        <p fill-with-lorem-ipsum="172"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="what-we-do-icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                    <div>
                        <h1 class="title" fill-with-lorem-ipsum="8"></h1>
                        <p fill-with-lorem-ipsum="107"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section section-info-row">
        <div class="container container-info-row container-what-we-do">
            <div class="row row-centered row-margined-top">
                <div class="col-sm-12"><h1 class="info-row-title">Pricing</h1></div>
            </div>
            <div class="row row-centered row-margined-bottom">
                <div class="hidden-xs col-sm-8 col-sm-offset-2">
                    <h4 class="info-row-desc">Find a plan that fits your need.</h4>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-sm-4 pricing-plan">
                    <div class="list-group">
                        <div class="list-group-item top">
                            <h4 class="name">Standard</h4>
                            <h1 class="price"><span>$</span>80<span>/MO</span></h1>
                            <i class="desc" fill-with-lorem-ipsum="36"></i>
                        </div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="60"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="61"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="57"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="48"></div>
                    </div>
                </div>

                <div class="col-sm-4 pricing-plan">
                    <div class="list-group">
                        <div class="list-group-item top">
                            <h4 class="name">Corporate</h4>
                            <h1 class="price"><span>$</span>120<span>/MO</span></h1>
                            <i class="desc" fill-with-lorem-ipsum="38"></i>
                        </div>
                        <strong class="list-group-item info" fill-with-lorem-ipsum="30"></strong>
                        <div class="list-group-item info" fill-with-lorem-ipsum="31"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="23"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="19"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="34"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="29"></div>
                    </div>
                </div>

                <div class="col-sm-4 pricing-plan">
                    <div class="list-group">
                        <div class="list-group-item top">
                            <h4 class="name">Premium</h4>
                            <h1 class="price"><span>$</span>200<span>/Y</span></h1>
                            <i class="desc" fill-with-lorem-ipsum="35"></i>
                        </div>
                        <strong class="list-group-item info" fill-with-lorem-ipsum="30"></strong>
                        <strong class="list-group-item info" fill-with-lorem-ipsum="30"></strong>
                        <div class="list-group-item info" fill-with-lorem-ipsum="31"></div>
                        <strong class="list-group-item info" fill-with-lorem-ipsum="30"></strong>
                        <div class="list-group-item info" fill-with-lorem-ipsum="19"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="24"></div>
                        <strong class="list-group-item info" fill-with-lorem-ipsum="39"></strong>
                        <div class="list-group-item info" fill-with-lorem-ipsum="14"></div>
                        <div class="list-group-item info" fill-with-lorem-ipsum="29"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-info-row">
        <div class="container container-info-row">
            <div class="row row-centered row-margined-top">
                <div class="col-sm-12"><h1 class="info-row-title">Want To Join?</h1></div>
            </div>
            <div class="row row-centered row-margined-bottom">
                <div class="col-sm-8 col-sm-offset-2">
                    <h4 class="info-row-desc">Sign in using your Facebook account.</h4>
                </div>
            </div>
            <div class="row row-centered row-margined-bottom">
                <a href="" class="col-sm-4 col-sm-offset-4 btn btn-social btn-lg btn-facebook signin-btn">
                    <i class="fa fa-facebook"></i>
                    <div>sign in</div>
                </a>
            </div>
        </div>
    </div>
    <div class="section section-info-row">
        <div class="container container-info-row container-q-and-a">
            <div class="row row-centered row-margined-top row-margined-bottom">
                <div class="col-sm-12"><h1 class="info-row-title">Friquently Asked Questions</h1></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="q-and-a">
                        <h3 fill-with-lorem-ipsum="11">?</h3>
                        <p fill-with-lorem-ipsum="566"></p>
                    </div>
                    <div class="q-and-a">
                        <h3 fill-with-lorem-ipsum="23">?</h3>
                        <p fill-with-lorem-ipsum="1000"></p>
                        <p fill-with-lorem-ipsum="122"></p>
                        <p fill-with-lorem-ipsum="344"></p>
                    </div>
                    <div class="q-and-a">
                        <h3>More questions?</h3>
                        <p>Please feel free to email us at <a href="email:andrewfisherfish@gmail.com">andrewfisherfish@gmail.com</a>
                            with any questions you may have
                            and we'll get back to you as quickly as possible!</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="q-and-a">
                        <h3 fill-with-lorem-ipsum="31">?</h3>
                        <p fill-with-lorem-ipsum="333"></p>
                        <p fill-with-lorem-ipsum="222"></p>
                        <p fill-with-lorem-ipsum="111"></p>
                    </div>
                    <div class="q-and-a">
                        <h3 fill-with-lorem-ipsum="25">?</h3>
                        <p fill-with-lorem-ipsum="344"></p>
                        <p fill-with-lorem-ipsum="132"></p>
                    </div>
                    <div class="q-and-a">
                        <h3 fill-with-lorem-ipsum="42">?</h3>
                        <p fill-with-lorem-ipsum="115"></p>
                    </div>
                    <div class="q-and-a">
                        <h3 fill-with-lorem-ipsum="33">?</h3>
                        <p fill-with-lorem-ipsum="121"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>

</body>
</html>