<!DOCTYPE html>
<html ng-controller="mainCtrl">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/book.css">

    <%- include scripts.ejs %>

    <script>
        (function (window, _) {
            var menuStr = '<%- JSON.stringify(menuObj) %>';
            window.fakeData = {};
            try {
                _.extend(window.fakeData, {
                    items: JSON.parse(menuStr)
                });
            }
            catch (error) {
                console.log(error)
            }
        }(window, _))
    </script>

    <script type="text/javascript" src="/bookApp/module.js"></script>
    <script type="text/javascript" src="/bookApp/bootstrap.js"></script>
</head>

<body ng-class="{
'no-scroll':uiState.is('isMenu') || uiState.is('isSearch'),
'has-sticky':uiState.get('isSticky')
}" class="{{uiState.get('textTheme')}}"
      ng-init="uiState.switch({
      'isMenu':false,
      'isSearch':false,
      'isNavbarExtended':false,
      'isFullScreen':false,
      'isSticky':false,
      'isAtTop':false,
      'activeSearchTab':'text',
      'activeTab':'contents',
      'textTheme':'text-theme-white'
      });">
<nav role="navigation"
     ng-class="{
     'content-expanded':uiState.get('isMenu') || uiState.get('isSearch'),
     'sticky-scroll-container':uiState.get('isMenu') || isSearch,
     'is-extended':uiState.get('isNavbarExtended'),
     'is-full-screen':uiState.get('isFullScreen'),
     'is-at-top':uiState.get('isAtTop')
     }"
     class="navbar navbar-inverse top">
    <div class="container-fluid">
        <div ui-sticky-nav scroller-selector="uiState.get('isMenu')||uiState.get('isSearch')?'nav':undefined"
             ng-class="{'is-sticky':uiState.is('isSticky')}"
             class="navbar-header">
            <div ng-hide="!uiState.is('isAtTop') && uiState.is('isFullScreen')"
                 class="navbar-brand">
                <h3 ng-hide="uiState.is('isSearch') || uiState.is('isSticky')"
                    class="title sub-top">How To Avoid Murder</h3>
                <h4 ng-hide="uiState.get('isSearch')"
                    class="title">Chapter 11</h4>
                <h3 ng-hide="uiState.get('isSearch') || uiState.get('isSticky')"
                    class="title sub-bottom">Something More To Tell</h3>
                <div ng-show="uiState.get('isSearch')"
                     class="container-search">
                    <form class="navbar-form navbar-left">
                        <div class="form-group inner-addon left-addon"><i class="fa fa-search"></i>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
            <button type="button" ng-click="uiState.switch('isSearch',false);uiState.switch('isMenu')"
                    ng-show="!uiState.get('isMenu') && !uiState.get('isSearch')"
                    class="navbar-toggle switcher left account-menu"><i
                        class="fa fa-bars"></i></button>
            <button type="button" ng-click="uiState.switch('isMenu')"
                    ng-show="uiState.get('isMenu')"
                    class="navbar-toggle switcher left close"><i
                        class="fa fa-close"></i></button>
            <button type="button" ng-click="uiState.switch('isMenu',false);uiState.switch('isSearch')"
                    ng-show="!uiState.get('isSearch')"
                    class="navbar-toggle switcher search"><i
                        class="fa fa-search"></i></button>
            <button type="button" ng-click="uiState.switch('isSearch')"
                    ng-show="uiState.get('isSearch')"
                    class="navbar-toggle switcher right close"><i
                        class="fa fa-close"></i></button>
        </div>
        <div ng-if="uiState.get('isSearch')" class="row search-results-container footer-parent">
            <div class="section">
                <div class="btn-group justified nav-tabs">
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeSearchTab','text')}"
                       ng-click="uiState.switch('activeSearchTab','text')">text</a>
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeSearchTab','chapters')}"
                       ng-click="uiState.switch('activeSearchTab','chapters')">chapters</a>
                </div>
            </div>
            <div class="section section-wide results" ng-if="uiState.is('activeSearchTab','text')">
                <div class="section">
                    <search-text-result item="item" ng-repeat="item in items"></search-text-result>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
            <div class="section section-wide results" ng-if="uiState.is('activeSearchTab','chapters')">
                <div class="section">
                    <search-chapter-result item="item" ng-repeat="item in items"></search-chapter-result>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
        </div>
        <div ng-if="uiState.get('isMenu')" class="row footer-parent">
            <div class="section">
                <div class="btn-group justified nav-tabs">
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeTab','contents')}"
                       ng-click="uiState.switch('activeTab','contents')">contents</a>
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeTab','bookmarks')}"
                       ng-click="uiState.switch('activeTab','bookmarks')">bookmarks</a>
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeTab','history')}"
                       ng-click="uiState.switch('activeTab','history')">history</a>
                </div>
            </div>
            <div ng-if="uiState.is('activeTab','history')"
                 mn-touch
                 swipe-left="alert(777)"
                 class="section section-wide section-condensed">
                <div ng-repeat="(key,val) in items | groupBy: 'formattedDateTime' | orderBy:'-key'"
                     class="media list-group-item history-group">
                    <div class="media-middle history-group-title">
                        <h4><span class="fa fa-calendar media-left"></span>{{val[0].dateTime |
                            date:'MMMM, yyyy'}}</h4>
                    </div>
                    <history item="item" ng-repeat="item in val"></history>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
            <div ng-if="uiState.is('activeTab','bookmarks')"
                 mn-touch
                 swipe-left="alert(777)"
                 class="section section-wide section-condensed">
                <div ng-repeat="(key,val) in items | groupBy: 'title' | orderBy:'-val[0].dateTime'"
                     class="media list-group-item bookmark-group">
                    <div class="media-middle bookmark-group-title">
                        <h4>{{key}}</h4>
                    </div>
                    <bookmark item="item" ng-repeat="item in val"></bookmark>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
            <div ng-if="uiState.is('activeTab','contents')"
                 mn-touch
                 swipe-left="alert(777)"
                 class="section section-wide section-condensed">
                <contents item="item" ng-repeat="item in items"></contents>
            </div>
            <div class="section section-wide footer">
                <p>
                    © 2015 Copyright Andriy Rybak Inc., All rights reserved.<br>
                    Use of this app constitutes acceptance of our<br>
                    Terms of Service and Privacy Policy.
                </p>
            </div>
        </div>
    </div>
</nav>

<content>
    <div class="section">
        <p class="text-page" ng-repeat="i in [0,1,2,3,4,5]"><%= loremIpsum %></p>
    </div>
</content>

<nav role="navigation"
     ng-class="{
     'sticky-scroll-container':uiState.get('isMenu') || isSearch,
     'is-full-screen':uiState.get('isFullScreen'),
     'is-at-top':uiState.get('isAtTop')
     }"
     class="navbar navbar-inverse bottom">
    <div class="container-fluid">
        <div ui-sticky-nav scroller-selector="uiState.get('isMenu')||uiState.get('isSearch')?'nav':undefined"
             ng-class="{'is-sticky':uiState.get('isSticky')}"
             class="navbar-header">
            <button type="button"
                    ng-click="openSettingsDialog()"
                    class="navbar-toggle suggesters"><i
                        class="fa fa-cog"></i></button>
            <button type="button"
                    ng-click="openQuestionDialog()"
                    class="navbar-toggle suggesters"><i
                        class="fa fa-question"></i></button>
            <button type="button"
                    ng-click="openOnWordDialog()"
                    class="navbar-toggle suggesters"><i
                        class="fa fa-info"></i></button>
        </div>
    </div>
</nav>

</body>
</html>