.section.section-wide.footer
    .logo
        a(href="/")
            img(src="img/logo-white.svg")
    .row-centered.footer-social
        a.btn(href="#")
            i.fa.fa-facebook
        a.btn(href="#")
            i.fa.fa-twitter
        a.btn(href="#")
            i.fa.fa-vk
    p
        | © 2015 Copyright Andriy Rybak Inc., All rights reserved.
        br
        |                     Use of this app constitutes acceptance of our
        br
        |                     Terms of Service and Privacy Policy.