<!DOCTYPE html>
<html ng-controller="mainCtrl">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-filter/dist/angular-filter.min.js"></script>

    <script>
        (function (window) {
            var menuStr = '<%- JSON.stringify(menuObj) %>';
            window.fakeData = {};
            try {
                _.extend(window.fakeData, {
                    items: JSON.parse(menuStr)
                });
            }
            catch (error) {
                console.log(error)
            }
        }(window))
    </script>

    <script type="text/javascript" src="/app/UI.stickyNav.js"></script>
    <script type="text/javascript" src="/app/module.js"></script>
    <script type="text/javascript" src="/app/bootstrap.js"></script>
</head>

<body ng-class="{'no-scroll':uiState.get('isMenu',false) || isSearch,'has-sticky':uiState.get('isSticky')}"
      ng-init="uiState.switch('isMenu',false);
      uiState.switch('isSearch',false);
      uiState.switch('isNavbarExtended',false);
      uiState.switch('isFullScreen',false);
      uiState.switch('isSticky',false);
      uiState.switch('activeSearchTab','text');
      uiState.switch('activeTab','contents');">
<nav role="navigation"
     ng-class="{'content-expanded':uiState.get('isMenu') || uiState.get('isSearch'),'sticky-scroll-container':uiState.get('isMenu') || isSearch,'is-extended':uiState.get('isNavbarExtended'),'is-full-screen':uiState.get('isFullScreen')}"
     class="navbar navbar-inverse top">
    <div class="container-fluid">
        <div ui-sticky-nav scroller-selector="uiState.get('isMenu')||uiState.get('isSearch')?'nav':undefined"
             ng-class="{'is-sticky':uiState.get('isSticky')}"
             ng-hide="uiState.get('isSticky') && uiState.get('isFullScreen')"
             class="navbar-header">
            <div class="navbar-brand">
                <h3 ng-hide="uiState.get('isSearch') || uiState.get('isSticky')"
                    class="title">How To Avoid Murder</h3>
                <h4 ng-hide="uiState.get('isSearch')"
                    class="title">Chapter 11</h4>
                <div ng-show="uiState.get('isSearch')"
                     class="container-search">
                    <form class="navbar-form navbar-left">
                        <div class="form-group inner-addon left-addon"><i class="fa fa-search"></i>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-menu" ng-show="!uiState.get('isNavbarExtended')">
                <button type="button" class="navbar-toggle navbar-expand-plus col-xs-12"
                        ng-click="uiState.switch('isNavbarExtended')"><i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="section section-condensed container-menu" ng-show="uiState.get('isNavbarExtended')">
                <div class="row">
                    <div class="col-xs-3">
                        <button type="button" class="navbar-toggle"><i class="fa fa-home"></i></button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="navbar-toggle "><i class="fa fa-edit"></i></button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="navbar-toggle"><i class="fa fa-bookmark-o"></i></button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="navbar-toggle"
                                ng-class="{'active':uiState.get('isFullScreen')}"
                                ng-click="uiState.switch('isFullScreen')"><i class="fa fa-arrows-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="navbar-toggle navbar-expand-plus col-xs-12"
                            ng-click="uiState.switch('isNavbarExtended')"><i class="fa fa-caret-up"></i>
                    </button>
                </div>
            </div>
            <button type="button" ng-click="uiState.switch('isSearch',false);uiState.switch('isMenu')"
                    ng-show="!uiState.get('isMenu') && !uiState.get('isSearch')"
                    class="navbar-toggle switcher left account-menu"><i
                        class="fa fa-bars"></i></button>
            <button type="button" ng-click="uiState.switch('isMenu')"
                    ng-show="uiState.get('isMenu')"
                    class="navbar-toggle switcher left close"><i
                        class="fa fa-close"></i></button>
            <button type="button" ng-click="uiState.switch('isMenu',false);uiState.switch('isSearch')"
                    ng-show="!uiState.get('isSearch')"
                    class="navbar-toggle switcher search"><i
                        class="fa fa-search"></i></button>
            <button type="button" ng-click="uiState.switch('isSearch')"
                    ng-show="uiState.get('isSearch')"
                    class="navbar-toggle switcher right close"><i
                        class="fa fa-close"></i></button>
        </div>
        <div ng-if="uiState.get('isSearch')" class="row search-results-container footer-parent">
            <div class="section">
                <div class="btn-group justified nav-tabs">
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeSearchTab','text')}"
                       ng-click="uiState.switch('activeSearchTab','text')">text</a>
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeSearchTab','chapters')}"
                       ng-click="uiState.switch('activeSearchTab','chapters')">chapters</a>
                </div>
            </div>
            <div class="section section-wide results" ng-if="uiState.is('activeSearchTab','text')">
                <div class="section">
                    <search-text-result item="item" ng-repeat="item in items"></search-text-result>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
            <div class="section section-wide results" ng-if="uiState.is('activeSearchTab','chapters')">
                <div class="section">
                    <search-chapter-result item="item" ng-repeat="item in items"></search-chapter-result>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
        </div>
        <div ng-if="uiState.get('isMenu')" class="row footer-parent">
            <div class="section">
                <div class="btn-group justified nav-tabs">
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeTab','contents')}"
                       ng-click="uiState.switch('activeTab','contents')">contents</a>
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeTab','bookmarks')}"
                       ng-click="uiState.switch('activeTab','bookmarks')">bookmarks</a>
                    <a class="btn btn-red" ng-class="{'active':uiState.is('activeTab','history')}"
                       ng-click="uiState.switch('activeTab','history')">history</a>
                </div>
            </div>
            <div ng-if="uiState.is('activeTab','history')" class="section section-wide section-condensed">
                <div ng-repeat="(key,val) in items | groupBy: 'formattedDateTime' | orderBy:'-key'"
                     class="media list-group-item history-group">
                    <div class="media-middle history-group-title">
                        <h4><span class="fa fa-calendar media-left"></span>{{val[0].dateTime |
                            date:'MMMM, yyyy'}}</h4>
                    </div>
                    <history item="item" ng-repeat="item in val"></history>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
            <div ng-if="uiState.is('activeTab','bookmarks')" class="section section-wide section-condensed">
                <div ng-repeat="(key,val) in items | groupBy: 'title' | orderBy:'-val[0].dateTime'"
                     class="media list-group-item bookmark-group">
                    <div class="media-middle bookmark-group-title">
                        <h4>{{key}}</h4>
                    </div>
                    <bookmark item="item" ng-repeat="item in val"></bookmark>
                </div>
                <div class="section">
                    <button type="button" class="btn btn-theme-color justified">Load More</button>
                </div>
            </div>
            <div ng-if="uiState.is('activeTab','contents')" class="section section-wide section-condensed">
                <contents item="item" ng-repeat="item in items"></contents>
            </div>
            <div class="section section-wide footer">
                <p>
                    © 2015 Copyright Andriy Rybak Inc., All rights reserved.<br>
                    Use of this app constitutes acceptance of our<br>
                    Terms of Service and Privacy Policy.
                </p>
            </div>
        </div>
    </div>
</nav>

<content>
    <div class="section">
        <p class="text" on-phrase-menu ng-repeat="i in [0,1,2,3,4,5]"><%= loremIpsum %></p>
    </div>
</content>

</body>
</html>