html(
ng-init="uiState.switch('isLoggedIn',false)",
ng-controller="mainCtrl",
ng-class="{'is-logged-in':uiState.is('isLoggedIn',false)}"
)
    head
        title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/index.css")

        include ./scripts.jade

        script.
            (function (window, _) {
                var menuStr = '<%- JSON.stringify(menuObj) %>';
                window.fakeData = {};
                try {
                    _.extend(window.fakeData, {
                        items: JSON.parse(menuStr)
                    });
                }
                catch (error) {
                    console.log(error)
                }
            }(window, _))

        script(src="/indexApp/module.js")
        script(src="/indexApp/bootstrap.js")


    body(ng-class="{}" class="" ng-init="uiState.switch({});")

        include ./navbar.jade

        content
            block content