extends ./layout.jade
block content
    .section.section-info-row
        .container.container-info-row.container-q-and-a
            .row.row-centered.row-margined-top.row-margined-bottom
                .col-sm-12
                    h1.info-row-title Pricing
            .row
                .col-sm-6
                    .q-and-a
                        h3(fill-with-lorem-ipsum='11') ?
                        p(fill-with-lorem-ipsum='566')
                    .q-and-a
                        h3(fill-with-lorem-ipsum='23') ?
                        p(fill-with-lorem-ipsum='1000')
                        p(fill-with-lorem-ipsum='122')
                        p(fill-with-lorem-ipsum='344')
                    .q-and-a
                        h3 More questions?
                        p
                            | Please feel free to email us at
                            a(href='email:andrewfisherfish@gmail.com') andrewfisherfish@gmail.com
                            |                             with any questions you may have
                            |                             and we'll get back to you as quickly as possible!
                .col-sm-6
                    .q-and-a
                        h3(fill-with-lorem-ipsum='31') ?
                        p(fill-with-lorem-ipsum='333')
                        p(fill-with-lorem-ipsum='222')
                        p(fill-with-lorem-ipsum='111')
                    .q-and-a
                        h3(fill-with-lorem-ipsum='25') ?
                        p(fill-with-lorem-ipsum='344')
                        p(fill-with-lorem-ipsum='132')
                    .q-and-a
                        h3(fill-with-lorem-ipsum='42') ?
                        p(fill-with-lorem-ipsum='115')
                    .q-and-a
                        h3(fill-with-lorem-ipsum='33') ?
                        p(fill-with-lorem-ipsum='121')