extends ./layout.jade
block content
    .section.section-wide.section-condensed.section-info-row
        .container.container-info-row.container-product
            .row.row-centered.row-margined-top.row-margined-bottom
                h1.info-row-title Products
            .row.row-centered.row-margined-bottom
                .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.search-product
                    .form-group.inner-addon.left-addon
                        i.fa.fa-search
                        input.form-control(type="search")
            .row.row-centered.row-margined-bottom
                .col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1.search-tags
                    search-tag(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]")
        .container.container-info-row.container-product
            .row
                .col-sm-6.col-md-4
                    product(ng-repeat="i in [0,1,2,3,4,5,6]")
                .col-sm-6.col-md-4
                    product(ng-repeat="i in [0,1,2,3,4,5,6]")
                .col-sm-6.col-md-4
                    product(ng-repeat="i in [0,1,2,3,4,5,6]")