.list-panel
    .btn-group.pull-right
        button.btn.btn-default.btn-large(
        switch-list-style-list
        ng-class="{'active':uiState.is(switchListStyleCtrl.listName,'LIST')}"
        ng-click="uiState.switch(switchListStyleCtrl.listName, 'LIST')"
        )
            i.fa.fa-th-list
        button.btn.btn-default.btn-large(
        switch-list-style-large
        ng-class="{'active':uiState.is(switchListStyleCtrl.listName,'LARGE')}"
        ng-click="uiState.switch(switchListStyleCtrl.listName, 'LARGE')"
        )
            i.fa.fa-th-large