body {
    .navbar {
        &.is-extended {
            .container-menu {
                .navbar-hr-top(@navbar-inverse-border);
            }
        }
        .container-menu {
            overflow: hidden;
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            .row > div {
                margin: 7px 0 7px 0;
                padding: 0;
                > .navbar-toggle {
                    background-color: rgba(0, 0, 0, 0.1);
                    border: none;
                    color: @navbar-inverse-color;
                    float: initial;
                    padding: 0;
                    margin: 0;
                    width: 90%;
                    border-radius: 10px;
                }
            }
            .navbar-expand-plus {
                padding: 0;
                margin: 0;
                border: none;
                .navbar-hr-top(@navbar-inverse-border);
                color: @navbar-inverse-color;
            }
        }

        &.navbar-inverse .navbar-expand-plus:hover,
        &.navbar-inverse .navbar-expand-plus:focus {
            border: none;
            background-color: @navbar-inverse-toggle-hover-bg;
        }

        border: none;
        .container-fluid {
            height: inherit;
        }
        &.content-expanded {
            margin-bottom: 0;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        .navbar-toggle.switcher {
            color: @navbar-inverse-color;
            border: none;
            padding: 1px 5px;
            font-size: 26px;
        }
        .navbar-toggle.left {
            float: left;
            margin-left: @navbar-padding-horizontal;
            margin-right: 0;
        }
        .navbar-toggle.close {
            font-size: 30px;
        }
        .navbar-brand {
            position: absolute;
            text-align: center;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .navbar-header {
            min-height: 48px;
            background-color: @navbar-inverse-bg;
            .navbar-hr-bottom(@navbar-inverse-border);

            //Sticky styles
            position: fixed !important;
            z-index: 3;
            top: 0;
            width: 100%;
        }
        .container-search {
            padding-right: 60px;
            .navbar-form {
                border: none;
                box-shadow: none;
                margin: initial;
                padding: initial;
                input {
                    height: 34px;
                }
                i {
                    color: @navbar-menu-hr;
                    font-size: 16px;
                    line-height: 14px;
                }
            }
        }

        &.top {
            .navbar-brand .title {
                font-family: 'headline-semi-bold', Helvetica, Arial, sans-serif;
                font-weight: normal;
                color: @navbar-inverse-color;
                margin: initial;
            }
            .nav-tabs a {
                text-decoration: none;
                color: @navbar-inverse-color;
                letter-spacing: 1.2px;
            }
        }
    }
    &.has-sticky {
        .navbar {
            &.is-full-screen {
                padding-top: 0 !important;
            }
            .navbar-brand {
                h4 {
                    font-size: 1.5em;
                }
            }
            &:not(.is-extended) {
                .navbar-brand {
                    height: @navbar-height-min;
                }
                .navbar-header {
                    height: @navbar-height-min;
                }
            }
            &.is-extended {
                .navbar-brand {
                    height: @navbar-height-min-extended;
                }
                .navbar-header {
                    height: @navbar-height-min-extended;
                }
                .container-menu {
                    .row > div {
                        > .navbar-toggle {
                            height: 40px;
                            .fa {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
            &:not(.content-expanded) {
                .navbar-brand {
                    padding: 9px 6px 6px 6px;
                }
            }
            &.content-expanded {
                .navbar-brand {
                    padding: 9px 6px 6px 6px;
                    height: initial;
                }
            }
            .navbar-header.is-sticky {
                .navbar-search {
                    .navbar-vertical-align(105px);
                }
                .navbar-toggle.switcher {
                    .navbar-vertical-align(74px);
                }
            }
            &:not(.content-expanded) {
                background: none;
                min-height: initial;
                height: @navbar-height+1;
            }
        }
    }
    &:not(.has-sticky) {
        .navbar {
            .navbar-brand {
                padding: 9px 6px 6px 6px;
                h4.title {
                    font-size: 1.5em;
                }
                h3.title {
                    font-size: 0.7em;
                    margin-bottom: 6px;
                }
            }
            &.is-extended {
                padding-top: @navbar-height-extended;
                .navbar-brand {
                    height: @navbar-height-extended;
                }
                .navbar-header {
                    height: @navbar-height-extended;
                }
                .container-menu {
                    .row > div {
                        > .navbar-toggle {
                            height: 80px;
                            .fa {
                                font-size: 3em;
                            }
                        }
                    }
                }
            }
            &:not(.is-extended) {
                padding-top: @navbar-height+@navbar-expand-plus-height;
                .navbar-brand {
                    height: @navbar-height+@navbar-expand-plus-height;
                }
                .navbar-header {
                    height: @navbar-height+@navbar-expand-plus-height;
                }
            }
            &:not(.content-expanded) {
            }
            &.content-expanded {
                .container-search {
                    i {
                        line-height: 46px;
                    }
                    input {
                        height: 66px;
                        font-size: 22px;
                    }
                }
            }
        }

    }
    .navbar {
        .navbar-toggle.switcher {
            .transition(margin, @transition-duration);
        }
        .navbar-brand {
            .title,
            .container-search {
                .animated(@transition-duration);
            }
        }
    }
}

body.no-scroll {
    overflow-y: hidden;
}

.justified > * {
    display: table-cell;
    width: 1%;
    float: none !important;
}

.btn-group.nav-tabs {
    border: 0 none;
}

.btn-red, .btn-group > .btn-red {
    color: @navbar-inverse-bg;
    background: rgba(0, 0, 0, 0);
    border: @navbar-inverse-border 1px solid;
}

.btn-red.active,
.btn-group > .btn-red.active {
    color: @navbar-inverse-color;
    background: @navbar-inverse-bg;
    border: @navbar-inverse-border 1px solid;
}