body {
    .navbar {
        &.top {
            .navbar-header {
                .navbar-hr-bottom(@navbar-inverse-border);
                //Sticky styles
                position: fixed !important;
                z-index: 3;
                top: 0;
                width: 100%;
            }
        }
        &.bottom {
            min-height: 0;
            height: 0;
            .navbar-header {
                //Sticky styles
                position: fixed !important;
                z-index: 3;
                bottom: 0;
                width: 100%;
                border: none;
            }
        }
    }
    .navbar.top {
        .navbar-brand {
            h4.title {
                i {
                    font-size: 14px;
                    padding: 5px;
                    vertical-align: middle;
                    display: inline-block;
                    position: absolute;
                }
            }
        }
        &.is-extended {
            .container-menu {
                .navbar-hr-top(@navbar-inverse-border);
            }
        }
        .container-menu {
            overflow: hidden;
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            .row > div {
                margin: 7px 0 7px 0;
                padding: 0;
                > .navbar-toggle {
                    background-color: rgba(0, 0, 0, 0.1);
                    border: none;
                    color: @navbar-inverse-color;
                    float: initial;
                    padding: 0;
                    margin: 0;
                    width: 90%;
                    border-radius: 10px;
                }
            }
            .navbar-expand-plus {
                padding: 0;
                margin: 0;
                border: none;
                .navbar-hr-top(@navbar-inverse-border);
                color: @navbar-inverse-color;
            }
        }

        &.navbar-inverse .navbar-expand-plus:hover,
        &.navbar-inverse .navbar-expand-plus:focus {
            border: none;
            background-color: @navbar-inverse-toggle-hover-bg;
        }

        border: none;
        .container-fluid {
            height: inherit;
        }
        &.content-expanded {
            margin-bottom: 0;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        .navbar-toggle.switcher {
            color: @navbar-inverse-color;
            border: none;
            padding: 1px 5px;
            font-size: 26px;
        }
        .navbar-toggle.left {
            float: left;
            margin-left: @navbar-padding-horizontal;
            margin-right: 0;
        }
        .navbar-toggle.close {
            font-size: 30px;
        }
        .navbar-brand {
            position: absolute;
            text-align: center;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .navbar-header {
            min-height: 48px;
            background-color: @navbar-inverse-bg;
        }
        .container-search {
            padding-right: 60px;
            .navbar-form {
                border: none;
                box-shadow: none;
                margin: initial;
                padding: initial;
                input {
                    height: 34px;
                }
                i {
                    color: @navbar-menu-hr;
                    font-size: 16px;
                    line-height: 14px;
                }
            }
        }

        &.top {
            .navbar-brand .title {
                font-family: @theme-font-family;
                font-weight: normal;
                color: @navbar-inverse-color;
                margin: initial;
            }
            .nav-tabs a {
                text-decoration: none;
                color: @navbar-inverse-color;
                letter-spacing: 1.2px;
            }
        }
    }
    .navbar.top {
        &.is-full-screen:not(.is-at-top) {
            .navbar-header {
                height: 0 !important;
                min-height: 0 !important;
                /*background-color: transparent !important;*/
            }
            &:not(.content-expanded) {
                /*background-color: transparent !important;*/
                .navbar-toggle.switcher {
                    color: @navbar-inverse-bg;
                    i.fa {
                        /*background-color: rgba(255, 255, 255, 0.5);*/
                    }
                }
            }
        }
    }

    &.has-sticky {
        .navbar.top {
            .navbar-brand {
                h4 {
                    font-size: 1.5em;
                }
            }
            &:not(.is-extended) {
                .navbar-brand {
                    height: @navbar-height-min;
                }
                .navbar-header {
                    height: @navbar-height-min;
                }
            }
            &.is-extended {
                .navbar-brand {
                    height: @navbar-height-min-extended;
                }
                .navbar-header {
                    height: @navbar-height-min-extended;
                }
                .container-menu {
                    .row > div {
                        > .navbar-toggle {
                            height: 40px;
                            .fa {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
            &:not(.content-expanded) {
                .navbar-brand {
                    padding: 9px 6px 6px 6px;
                }
            }
            &.content-expanded {
                .navbar-brand {
                    padding: 9px 6px 6px 6px;
                    height: initial;
                }
            }
            .navbar-header.is-sticky {
                .navbar-search {
                    .navbar-vertical-align(105px);
                }
                .navbar-toggle.switcher {
                    .navbar-vertical-align(64px);
                }
            }
            &:not(.content-expanded) {
                background: none;
                min-height: initial;
                height: @navbar-height+1;
            }
        }
    }

    &:not(.has-sticky) {
        .navbar.top {
            .navbar-brand {
                padding: 9px 6px 6px 6px;
                h4.title {
                    font-size: 1.5em;
                }
                h3.title.sub-top {
                    font-size: 0.7em;
                    margin-bottom: 6px;
                }
                h3.title.sub-bottom {
                    font-size: 0.7em;
                    margin-top: 2px;
                }
            }
            &.is-extended {
                padding-top: @navbar-height-extended;
                .navbar-brand {
                    height: @navbar-height-extended;
                }
                .navbar-header {
                    height: @navbar-height-extended;
                }
                .container-menu {
                    .row > div {
                        > .navbar-toggle {
                            height: 80px;
                            .fa {
                                font-size: 3em;
                            }
                        }
                    }
                }
            }
            &:not(.is-extended) {
                padding-top: @navbar-height+@navbar-expand-plus-height;
                .navbar-brand {
                    height: @navbar-height+@navbar-expand-plus-height;
                }
                .navbar-header {
                    height: @navbar-height+@navbar-expand-plus-height;
                }
            }
            &.content-expanded {
                .container-search {
                    i {
                        line-height: 46px;
                    }
                    input {
                        height: 66px;
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .navbar.top {
        .transition(padding, @transition-duration);
        .navbar-header {
            .transition(height, @transition-duration);
        }
        &.is-full-screen:not(.is-at-top) {
            .navbar-header .navbar-toggle.switcher {
                .navbar-vertical-align(64px);
                .fa {
                    font-weight: bold;
                }
            }
        }
        .navbar-toggle.switcher {
            .transition(margin, @transition-duration);
        }
        .navbar-brand {
            .title,
            .container-search,
            .container-search input {
                .transition(height, @transition-duration);
            }
        }
    }
}

body.no-scroll {
    overflow-y: hidden;
}

.justified > * {
    display: table-cell;
    width: 1%;
    float: none !important;
}

.btn-group.nav-tabs {
    border: 0 none;
}

.btn-red, .btn-group > .btn-red {
    color: @navbar-inverse-bg;
    background: rgba(0, 0, 0, 0);
    border: @navbar-inverse-border 1px solid;
}

.btn-red.active,
.btn-group > .btn-red.active {
    color: @navbar-inverse-color;
    background: @navbar-inverse-bg;
    border: @navbar-inverse-border 1px solid;
}

.navbar-toggle.suggesters {
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: @navbar-inverse-bg;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40px;
    height: 40px;
    .fa {
        font-size: 1em;
    }
}

.navbar-toggle.navbar-settings {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    float: initial;
    height: 100%;
    width: 100%;
    font-size: 2em;
    color: #fff;
    padding: 0;
    margin: 0;
}

.navbar-toggle.settings {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    float: initial;
    padding: 0;
    margin: 0;
    width: 90%;
    border-radius: 10px;
}

.row-vertical {
    height: 100%;
    padding: 10px 0;
}

.col-vertical-3 {
    height: 100/4%;
    padding-top: 5px;
    padding-bottom: 5px;
}