@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/font-awesome/less/variables.less";

@icon-font-path: "../bower_components/bootstrap/fonts/";
@fa-font-path: "../bower_components/font-awesome/fonts/";

@navbar-inverse-bg: #185f7d;
@navbar-inverse-border: #134c63;
@navbar-inverse-color: #fff;

@navbar-menu-hr: #3d7890;

@navbar-section-margin: 32px;

@navbar-copyright-color: rgba(255, 255, 255, 0.20);

@screen-sm: 700px;

@navbar-expand-plus-height: 25px;

@navbar-height: 80px;

@navbar-height-extended: 183px;

@navbar-height-min: 69px;

@navbar-height-min-extended: 110px;

@transition-duration: 300ms;

@body-bg: transparent;

@navbar-margin-bottom: 0;

@inactive-text: @navbar-menu-hr;

@inactive-title: #90C2D1;

@font-size-base: 16px;

@settings-text-font-family: Georgia, Times, sans-serif;
@settings-text-color: #666;