<div class="media history list-group-item" ng-repeat="item in items">
    <a href="#">
        <div class="media-left">
            <div class="media-body media-middle">
                <h4 class="title" ng-bind="item.title"></h4>
                <i class="text">Nec magna eros quis ac nec tortor nunc massa. Non sit neque diam mus nulla. Suspendisse
                    porta quam nisl blandit eget nec suspendisse vel...</i>
            </div>
        </div>
        <div class="media-right media-middle">
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
</div>