<div class="modal-header section">
    <h2 class="title">word</h2>
</div>
<div class="modal-body section">
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="navbar-toggle"><i class="fa fa-edit"></i></button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="navbar-toggle"
                    ng-click="uiState.switch('isSearch',true);cancel()"><i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer section">
    <div class="row">
        <button class="btn col-xs-12" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>