<div class="product {{model.productType}}">
    <div class="product-background-wrapper">
        <div class="product-background"></div>
    </div>
    <div class="product-body">
        <h4 class="product-category top if-short-hide"><a class="product-type-color" href="#"
                                                          ng-bind="model.productCategory"></a></span></h4>

        <div class="product-image">
            <div class="product-image-container">
                <div class="product-image-object" style="{{'background-image:url('+model.imgSrc+')'}}"></div>
            </div>

            <div class="product-image-centered">

                <h3 class="product-title if-short-hide" ng-bind="model.title"></h3>

                <div class="product-search-tags if-short-hide if-recent-hide">
                    <search-tag class="no-hover" ng-repeat="i in [0,1,2,3,4,5,6]" href="#"></search-tag>
                </div>

            </div>

            <div class="product-author if-recent-hide if-short-hide">
                <user class="pull-left" model="item" ng-repeat="item in model.authors"></user>
            </div>
        </div>

        <div class="product-bottom">

            <h4 class="product-title-short if-short-show" ng-bind="model.title"></h4>

            <h6 class="product-category if-short-show"><a class="product-type-color" href="#"
                                                          ng-bind="model.productCategory"></a></span></h6>

            <p class="if-short-show if-recent-hide" ng-bind="model.shortDescription"></p>

            <p class="if-short-hide if-recent-hide" ng-bind="model.longDescription"></p>

            <div class="row row-centered if-short-hide if-less-hide">
                <ul class="product-info col-centered col-xs-8">
                    <li>Authors: <span ng-repeat="item in model.authors">
                        <a href="/author" ng-bind="item.name"></a></span>
                    </li>
                    <li class="if-purchased-show"><h4>Already in your library</h4></li>

                    <li class="if-purchased-hide" ng-repeat="item in model.prodAttr" ng-bind-html="item"></li>
                    <li class="if-purchased-hide">Price: <span class="price" ng-bind="model.price"></span></li>
                </ul>
            </div>

            <div class="button row if-short-hide">
                <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="{{bottomButton.link}}" class="btn" ng-bind="bottomButton.caption"></a>
                </span>
            </div>
        </div>

        <a href="/product" class="product-link-cover if-short-show if-purchased-hide"></a>

        <a href="/book" class="product-link-cover if-short-show if-purchased-show"></a>

        <div class="product-extra" uib-dropdown>
            <button class="btn pull-right"
                    uib-dropdown-toggle>
                <i class="fa fa-ellipsis-v"
                   aria-expanded="true"></i></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li class="" role="menuitem"><a href="/product">Details</a></li>
                <li class="if-purchased-hide" role="menuitem"><a href="#">Buy</a></li>
                <li class="if-purchased-hide" role="menuitem"><a href="#">Reserve</a></li>
                <li class="if-purchased-show" role="menuitem"><a href="/book">Open</a></li>
                <li class="divider"></li>
                <li class="if-liked-hide" role="menuitem"><a href="#">Like</a></li>
                <li class="if-liked-show" role="menuitem"><a href="#">Unlike</a></li>
            </ul>
        </div>

    </div>
</div>