<div class="book-reader-footer">
    <div>
        <button type="button"
                ng-if="questions | activeQuestionsLength"
                ng-click="openQuestionDialog()"
                class="navbar-button suggesters question">
            <i class="fa fa-question"></i>
        </button>
    </div>

    <button type="button"
            ng-repeat="item in minimized"
            ng-click="remove(item,$index)"
            random-background-color
            preview="{{item.tagPhrase}}"
            class="navbar-button suggesters">
        <span class="letter" ng-bind="item.caption"></span>
    </button>
</div>