<div class="modal-header section">
    <button class="btn prev pull-left"
            ng-show="index>0"
            ng-click="prev();"><i class="fa fa-caret-left"></i></button>
    <h5 class="small-title" ng-bind="index+1 + ' of ' + total"></h5>
    <h4 class="title"><span fill-with-lorem-ipsum max="300" min="100" is-title></span>?</h4>
    <button class="btn next pull-right"
            ng-show="index<total-1"
            ng-click="next();"><i class="fa fa-caret-right"></i></button>
</div>
<div class="modal-body section">
    <div class="row">
        <div class="list-group-item" ng-repeat="item in answersArray">
            <div class="radio">
                <input type="radio" id="{{'radio'+$index}}" name="question-modal" ng-click="answer($index);">
                <label for="{{'radio'+$index}}" fill-with-lorem-ipsum max="300" min="100" is-title></label>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer section">
    <div class="row">
        <button class="btn col-xs-12 cancel-btn" type="button" ng-click="dismiss()">DISMISS</button>
    </div>
</div>