<div>
    <div class="modal-header section">
        <h4 class="title">Excepturi quis ipsum. Vestibulum dui dictumst. A sed eu nam vulputate nonummy?</h4>
    </div>
    <div class="modal-body section">
        <div class="row">
            <div class="list-group-item">
                <div class="radio">
                    <input type="radio" id="radio1" name="question-modal">
                    <label for="radio1">
                        Nec magna eros quis ac nec tortor nunc massa. Non sit neque diam mus nulla.
                    </label>
                </div>
            </div>
            <div class="list-group-item">
                <div class="radio">
                    <input type="radio" id="radio2" name="question-modal">
                    <label for="radio2">
                        Vitae ipsum vel. Gravida sagittis libero hendrerit viverra imperdiet.
                    </label>
                </div>
            </div>
            <div class="list-group-item">
                <div class="radio">
                    <input type="radio" id="radio3" name="question-modal">
                    <label for="radio3">
                        Nec pretium in libero orci nibh. Quisque orci ac.
                    </label>
                </div>
            </div>
            <div class="list-group-item">
                <div class="radio">
                    <input type="radio" id="radio4" name="question-modal">
                    <label for="radio4">
                        Mi maecenas bibendum velit id consectetuer. Dolor dolor ornare feugiat odio id. Orci in nascetur. Orci ad consectetuer velit purus urna vitae convallis praesent.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer section">
    <div class="row">
        <button class="btn col-xs-12 cancel-btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>